<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    {% block css %}
    {% endblock %}
    <title>Mana lapa</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/kontakti'>Kontakti</a></li>
            <li><a href='/parmani'>Par mani</a></li>
            <li><a href='/jaunumi'>Jaunumi</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block saturs %}

        {% endblock %}
    </div>

    <div class="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>